<!DOCTYPE html>
<html>
  <head>
    <title>Cocktailize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Muli&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/YOUR_CLOUDINARY_CLOUD_NAME/image/upload/c_fill,h_180,w_180,b_rgb:fff,bo_20px_solid_white/https://res.cloudinary.com/dnivipvcl/image/upload/v1558724101/te%CC%81le%CC%81chargement_ssyihy.png">    
<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/YOUR_CLOUDINARY_CLOUD_NAME/image/upload/c_fill,h_32,w_32/https://res.cloudinary.com/dnivipvcl/image/upload/v1558724101/te%CC%81le%CC%81chargement_ssyihy.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/YOUR_CLOUDINARY_CLOUD_NAME/image/upload/c_fill,h_16,w_16/https://res.cloudinary.com/dnivipvcl/image/upload/v1558724101/te%CC%81le%CC%81chargement_ssyihy.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %> 
  </body>
</html>
